
forum-application/.gradle/vcs-1/gc.properties
forum-application/.gradle/buildOutputCleanup/cache.properties
forum-application/.gradle/buildOutputCleanup/buildOutputCleanup.lock
forum-application/.gradle/8.8/gc.properties
forum-application/.gradle/8.8/fileHashes/fileHashes.lock
forum-application/.gradle/8.8/fileChanges/last-build.bin
forum-application/.gradle/8.8/executionHistory/executionHistory.lock
forum-application/.gradle/8.8/dependencies-accessors/gc.properties
forum-application/.gradle/8.8/checksums/checksums.lock
forum-application/.DS_Store
.idea/vcs.xml
.DS_Store
forum-application/.gradle/8.8/executionHistory/executionHistory.bin
forum-application/build/tmp/compileJava/compileTransaction/stash-dir/SecurityConfig.class.uniqueId0
forum-application/build/tmp/compileJava/compileTransaction/stash-dir/SwaggerConfig.class.uniqueId1
